---
import RecipePreview from '../../components/RecipePreview.astro';
import {getAllRecipies, buildRecipePath} from '../../data/recipies.ts'
import {Recipe} from '@cooklang/cooklang-ts'

export async function getStaticPaths() {

    const paths = (await getAllRecipies()).map(await buildRecipePath);

    console.log(paths)

    return paths;

    // console.log(await Astro.glob('@recipies/**/*.cook'));

    // return {}

    // return paginate(allRecipies, { pageSize: 10, param: 'recipe' });
    // return allRecipies
}

const { recipe } = Astro.props
---
<div>
    <RecipePreview recipe={recipe} />
</div>
