---
// import RecipePreview from '../../components/RecipePreview.vue'
import Steps from '../../components/Steps.vue'
import Ingredients from '../../components/Ingredients.vue'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const recipeEntries = await getCollection("recipes");

  return recipeEntries.map((entry) => {
    return {
      params: {
        // e.g `spec/fried-rice`
        slug: entry.slug,
      },
      props: { entry },
    };
  });
}


const { entry } = Astro.props
const { Content } = await entry.render();

---

<BaseLayout title={entry.data.title ?? '??'}>
  <li slot="menu">
    <a href="/">Back to all recipes</a>
  </li>

  <div class="flex flex-grow flex-col f md:flex-row">
    <!-- Sidebar -->
    <div class="flex flex-col md:max-w-md w-full">
      <div class="px-4 mb-4">
        <div class="stats stats-horizontal shadow">
          <div class="stat">
            <div class="stat-title">Servings</div>
            <div class="stat-value">{entry.data?.servings ?? '??'}</div>
          </div>

          <div class="stat">
            <div class="stat-title">Cooking time</div>
            <div class="stat-value">{entry.data?.time ?? '??'}</div>
          </div>
        </div>
      </div>

      <div class="card card-bordered card-compact border-dashed w-full">
        <div class="card-body">
          <h3 class="font-display font-bold text-2xl mb-2 underline">
            Ingredients
          </h3>
          <Ingredients recipe={entry.data} />
        </div>
      </div>
    </div>

    <!-- Main content -->
    <div class="order-first w-full p-4">
      <section class="mb-4">
        <div class="grow">
          <h1 class="font-display font-thin text-5xl mb-2">{entry.data?.title}</h1>
        </div>
      </section>

      <h3 class="font-display underline font-bold text-2xl mb-2">Steps</h3>
      <Steps recipe={entry.data} client:idle />
    </div>
  </div>
</BaseLayout>
