---
// import RecipePreview from '../../components/RecipePreview.vue'
import Steps from "../../components/Steps.vue";
import Sidebar from "../../components/RecipeSidebar.vue";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const recipeEntries = await getCollection("recipes");

  return recipeEntries.map((entry) => {
    return {
      params: {
        // e.g `spec/fried-rice`
        slug: entry.slug,
      },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const isCooklang = entry.id.includes(".cook");
const title = entry.data.title;
---

<BaseLayout title={title ?? entry.id} navbar={true}>
  <li slot="menu">
    <a href="/">Back to all recipes</a>
  </li>

  <div class="flex flex-grow flex-col px-4 md:flex-row">
    <!-- Sidebar -->
    <div class="flex w-full flex-col md:max-w-sm">
      {
        isCooklang && (
          <>
            <Sidebar recipe={entry} />
          </>
        )
      }
    </div>

    <!-- Main content -->
    <div class="order-first w-full">
      <section class="prose prose-lg mb-4">
        {
          title && (
            <>
              <h1 class="mb-4">{title}</h1>
            </>
          )
        }

        {
          isCooklang ? (
            <>
              <div class="prose-lg" />
              <h3 class="">Steps</h3>

              <Steps recipe={entry} />
            </>
          ) : (
            <>
              <article class="prose-lg">
                <Content />
              </article>
            </>
          )
        }
      </section>
    </div>
  </div>
</BaseLayout>
