---
// import RecipePreview from '../../components/RecipePreview.vue'
import Steps from "../../components/Steps.vue";
import Ingredients from "../../components/Ingredients.vue";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const recipeEntries = await getCollection("recipes");

  return recipeEntries.map((entry) => {
    return {
      params: {
        // e.g `spec/fried-rice`
        slug: entry.slug,
      },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title ?? "??"}>
  <li slot="menu">
    <a href="/">Back to all recipes</a>
  </li>

  <div class="f flex flex-grow flex-col md:flex-row">
    <!-- Sidebar -->
    <div class="flex w-full flex-col md:max-w-md">
      <div class="mb-4 px-4">
        <div class="stats stats-horizontal shadow">
          <div class="stat">
            <div class="stat-title">Servings</div>
            <div class="stat-value">{entry.data?.servings ?? "??"}</div>
          </div>

          <div class="stat">
            <div class="stat-title">Cooking time</div>
            <div class="stat-value">{entry.data?.time ?? "??"}</div>
          </div>
        </div>
      </div>

      <div class="card card-bordered card-compact w-full border-dashed">
        <div class="card-body">
          <h3 class="mb-2 font-display text-2xl font-bold underline">
            Ingredients
          </h3>
          <Ingredients recipe={entry} />
        </div>
      </div>
    </div>

    <!-- Main content -->
    <div class="order-first w-full p-4">
      <section class="mb-4">
        <div class="grow">
          <h1 class="mb-2 font-display text-5xl font-thin">
            {entry.data?.title}
          </h1>
        </div>
      </section>

      <h3 class="mb-2 font-display text-2xl font-bold underline">Steps</h3>
      <Steps recipe={entry} />
    </div>
  </div>
</BaseLayout>
