---
import RecipePreview from '../../components/RecipePreview.vue'
import { useRecipesStore, buildRecipePath } from '../../stores/recipes.ts'

import { Recipe } from '@cooklang/cooklang-ts'


export async function getStaticPaths() {
  const recipesStore = useRecipesStore();

  const paths = (await recipesStore.recipePaths)

  // console.log(JSON.stringify({paths}))

  return [
    ...paths,
  ]
}

const { recipe } = Astro.props
---

<div>
  <a href="/">Back to all recipes</a>
  <RecipePreview recipe={recipe} />
</div>
