---
// import RecipePreview from '../components/RecipePreview.astro';
import RecipePreview from '../components/RecipePreview.vue'
import { useRecipesStore } from '../stores/recipes.ts'
import { Recipe } from '@cooklang/cooklang-ts'
import BaseLayout from '../layouts/BaseLayout.astro'

const recipesStore = useRecipesStore()

const allRecipes = await recipesStore.recipes

// console.log({ store, state, allRecipes })

// .map(function (recipe: Recipe) {
// 	return { params: { recipe }};
// });

// console.log(allRecipes)

// allRecipes = allRecipes.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout title="All recipes">
  <section class="intro text-center py-4">
    <h1 class="font-display font-thin text-5xl">Recipes</h1>
  </section>

  <section class="grid grid-cols-4 gap-4">
    {
      allRecipes.map(
        (recipe: Recipe) =>
          recipe && <RecipePreview recipe={recipe} class="card-compact" />
      )
    }
  </section>
</BaseLayout>
