---
import "../global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body class="flex min-h-screen flex-col">
    <div class="navbar shadow-sm">
      <div class="md:container md:mx-auto">
        <div class="flex-1">
          <a class="btn btn-ghost hidden text-xl normal-case">Recipes</a>
        </div>

        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">
            <slot name="menu" />

            <!-- <li><a href="/">All recipes</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="mb-8 mt-12 flex grow flex-col md:container md:mx-auto">
      <slot />
    </div>
  </body>
</html>
