---
import '../global.css'
const { title } = Astro.props
---

<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body class="flex flex-col min-h-screen">
    <div class="navbar shadow-sm">
      <div class="md:container md:mx-auto">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl hidden">Recipes</a>
        </div>

        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">
            <slot name="menu" />

            <!-- <li><a href="/">All recipes</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="md:container md:mx-auto mt-12 mb-8 flex flex-col grow">
      <slot />
    </div>
  </body>
</html>
